header {
    height: 70px;
    width: 100%;
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .container {


        .row {
            height: 100%;
            justify-content: space-around;
            align-items: center;

            .col {
                height: 100%;
                text-align: center;
                line-height: 70px;

                a {
                    text-decoration: none;
                    color: black;
                    text-transform: capitalize;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
        }

    }
}
